h1{
    margin: 10px;
    font-size: 40px;
}


.calculator{
    display: block;
    text-align: center;
}

#num1{
    margin: 10px;
    border: solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#num2{
    margin: 10px;
    border: solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

    